.dashboard-container {
  grid-area: dashboard;
  display: flex;
  justify-content: center;
  min-width: 100%;
  margin-top: 20px;
  color: #000000;

  .galery-container {
    display: grid;
    grid-template-columns: repeat(4, minmax(200px, 300px));
    gap: 15px;
    padding: 20px;
    justify-items: center;

    .img-container {
      position: relative;
      display: flex;
      flex-direction: column;
      width: 100%;
      max-width: 350px;
      border-radius: 15px;
      overflow: hidden;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
      background-color: #efefef;
      text-align: center;
    }

    .img-imagem {
      display: block;
      max-width: 100%;
      object-fit: cover;
      object-position: center;
    }

    .img-legenda {
      padding: 5px;
      text-align: center;
      font-size: 0.8em;
      color: #282828;
      font-weight: bold;

      .dash-button {
        height: 30px;
        width: 90px;
        font-size: 11px;
        background: linear-gradient(145deg, #1a1919, #171717);
        -webkit-box-shadow: -1px -5px 15px #41465b, 5px 5px 15px #41465b,
          inset 5px 5px 10px #212121, inset -5px -5px 10px #212121;
        box-shadow: -1px -1px 10px #41465b, 1px 5px 10px #41465b,
          inset 5px 5px 10px #212121, inset -5px -5px 10px #212121;
      }
    }

    .dash-heart-icon {
      position: absolute;
      top: 10px;
      right: 10px;
      font-size: 24px;
      cursor: pointer;
      z-index: 10;
      background: transparent;
      border: none;
      outline: none;
    }
  }
}

.no-omdb-input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-height: 100px;
  color: #efefef;
  background-color: #1c1b25;
  font-size: 1.5rem;
}
