*,
*::after,
*::before,
body,
section,
main,
h1,
h2,
h3,
div,
p,
a,
li,
ul,
label,
input,
button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  --font: 'Open Sans', 'Helvetica Neue', sans-serif, -apple-system,
    BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell;
  --font-title: Georgia, 'Times New Roman', Times, serif;
  /* --font-size: 1.2rem; */
  --color: #19f;
  --color-light: #adf;
  --color-dark: #018;
  // --radius: 0.5rem;
}

body {
  background-color: #171f2b;
  color: azure;
  font-size: 1.1rem;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
}

body,
input,
button {
  /* font-size: var(--font-size); */
  font-family: var(--font);
}

h1,
h2,
h3 {
  font-family: var(--font-title);
}

a {
  text-decoration: none;
  color: #eee;
}

li {
  list-style: none;
}

button {
  cursor: pointer;
  border: none;
  border-radius: var(--radius);
  transition: 0.1s;
  background: var(--color);
  color: var(--color-dark);
  font-weight: bold;
  font-size: 0.8em;
}

button:hover,
button:focus {
  background: var(--color);
  box-shadow: 0 0 0 3px var(--color-light), 0 0 0 4px var(--color);
  outline: none;
}

button:active {
  box-shadow: 0 0 0 3px var(--color), 0 0 0 4px var(--color);
}

button:disabled {
  opacity: 0.5;
  cursor: wait;
}

.main-container {
  display: grid;
  grid-template:
    'header button' 0.4fr
    'dashboard dashboard' 2fr
    'footer footer' 1fr
    / 100% 1fr;
  height: 100dvh;
}

.header-container {
  grid-area: header;
  display: flex;
  align-items: center;

  .header-inner-container {
    padding: 0 10px 20px 0;
    flex-grow: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .logo {
      padding: 50px 20px;
      a {
        padding: 10px;
      }
    }
    .nav-container {
      display: flex;
      padding: 20px;
      li {
        margin: 0 15px;
      }
      a {
        padding: 10px;
      }
    }
    .search-container {
      display: flex;
      max-width: 500px;
      flex-grow: 1;

      label {
        padding: 10px 20px;
        display: block;
      }

      input {
        display: block;
        border: 1px solid #ccc;
        width: 100%;
        border-radius: var(--radius);
        background: #eee;
        transition: 0.2s;
      }
      input:focus {
        outline: none;
        border-color: var(--color);
        background: white;
        box-shadow: 0 0 0 3px var(--color-light);
      }
    }
  }

  .search-button {
    grid-area: button;
    display: block;
    align-items: center;
    flex: 1;
    margin: 0 20px;
    height: 50px;
    // max-width: 100px;
  }
}

.dashboard-container {
  grid-area: dashboard;
}

.footer-container {
  grid-area: footer;
}
